/* Definição de variáveis*/
:root {
    --primary-color: rgb(74, 128, 172);
}


/* .grid-container {
    display:grid; Uma coluna e diversas linhas 
     grid-template-columns: 200px 500px 400px;
    grid-template-rows: 300px 200px 200px;
    gap: 1em;
    height: 400px;
    width: 400px; 
    grid-template-columns: 1fr 1fr 1fr;  1 fração da largura
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;

} */

/* Exemplo de layout com navbar e main
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    gap: 0.5em;

} */
/*
.item {
    padding: 2em;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: ;
}
*/


/* Exemplo de alinhamento, pois no grid temos alinhamento tanto das linhas e colunas
quanto de cada elemento*/
.grid-container {
    height: 800px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 1em;
    justify-items:center; /* left right center */
    align-items:center;
    /* Conteudo */
    justify-content: center; /*left right center*/
    justify-items: center;
    

}


.item {
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 8px;
}